{
	"useTabs": true,
	"tabWidth": 4,
	"singleQuote": true,
	"printWidth": 100,
	"singleAttributePerLine": true,
	"svelteBracketNewLine": true,
	"quoteProps": "consistent",
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	],
	"tailwindFunctions": ["cn", "tv"]
}
